.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    max-width: 1280px;
    margin: auto;
}

.leftHolder {
    width: 33vw;
    height: 500px;
    max-height: 500px;
    background-color: white;
    flex: .7;
    margin-left: 0 1rem;
}

.centerHolder{
    max-height: 500px;
    margin: 0 1.5rem;
    width: 33vw;
    flex: 1;
}

.rightHolder{
    max-height: 500px;
    width: 33vw;
    flex: 1;
}

.fullscreen {
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
}

